.spectator_main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.spectator_centre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.spectator_centre_timer {
  background-color: #505380;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.spectator_centre_timer > h4 {
  margin-top: 10px;
}

.roaster_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team_roaster {
  width: 100%;
  height: 100px;
  background-color: #505380;
  margin: 10px 0;
}

.organisation_logo > img {
  width: 50px;
  margin: 20px;
}